.card {

    h1 {
        text-align: center;
        font-weight: bold;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .input-container {
            display: grid;
            grid-gap: 40px;
            gap: 40px;
            width: 100%;
            margin: 5em 0;
        }

        .input-container-horizontal {
            grid-template-columns: repeat(2, 1fr);
        }

        .input-container-vertical {
            grid-template-rows: repeat(2, 1fr);
        }

        .row {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        label {
            font-weight: 500;
            font-size: 1.25rem;
        }

        input {
            margin-top: 20px;
            padding: 1em 1.25em;
            border: none;
            border-radius: 10px;
            background: var(--color-gray90);
            font-family: 'Montserrat', sans-serif;
            font-size: 1.25rem;
        }
        
        input::placeholder {
            color: var(--color-tapa);
        }
        
    }
}