.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: white;
    background-color: var(--color-blue-violet);

    h1 {
        font-size: 3.125rem;
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 1.875rem;
        margin-top: 2.5rem;

        label {
            font-weight: 500;
        }

        input {
            margin-top: 2.5rem;
            //min-width: 80vw;
            padding: 2.5rem;
            border-radius: 0.625rem;
            border: none;
            font-size: 1.875rem;
            font-weight: 400;
        }
    }
}

.account-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: var(--color-section-bg);

    h1 {
        margin: 3.75rem 0;
        font-size: 3.57rem;
        font-weight: bold;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-evenly;
        // min-height: 80%;
        min-width: 20vw;
        padding: 5rem;
        border-radius: 10px;
        background: white;

        > *:not(:last-child) {
            margin-bottom: 40px;
        }

        .card-avatar {
            .card__image {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: black;
            }

            p {
                margin-top: 40px;
                text-align: center;
                font-weight: 300;
                font-size: 1.875rem;
            }
        }   

        .card-info {
            display: flex;
            text-align: center;

                div:not(:last-child) {
                    margin-right: 40px;

                }
                
                .card-info-heading {
                    color: var(--color-blue-violet);
                    font-weight: bold;
                    font-size: 1.5625rem;
                    margin-bottom: 10px;
                }

                .card-info-caption {
                    color: var(--color-gray77);
                    font-weight: 600;
                    font-size: 1.25rem;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;                    
                }

        }

        .btn {
            color: white;
            font-weight: 500;
            font-size: 1.5625rem;
            padding: 1em 2em;
            background: var(--color-blue-violet);
            border-radius: 10px;
            text-decoration: none;
        }

        small {
            font-size: 1.25rem;

            a {
                color: var(--color-tapa);
                text-decoration: none;
            }

            a:hover, a:focus {
                color: var(--color-blue-violet);
            }
        }
    }
}