@import "partials/__colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.wrap > * {
    padding: 0 5rem;
}

body {
    // display: flex;
    // flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: var(--color-solitude);
}

@import "partials/__header.scss";
@import "partials/__home.scss";
@import "partials/__auth.scss";
@import "partials/__footer.scss";
@import "partials/__global.scss";

.hidden {
    display: none;
}
