<footer>
    <p>© 2020 PhotoMemory. All rights reserved<p>
    <nav>
        <ul>
            <li>
                <a href="#" class="link link-black">Contact</a>
            </li>
            
            <li>
                <a href="#" class="link link-black">FAQ</a>
            </li>
            
            <li>
                <a href="#" class="link link-black">Privacy policy</a>
            </li>
            
            <li>
                <a href="#" class="link link-black">Terms of service</a>
            </li>
        </ul>
    </nav>
</footer>
