<header class="wrap" id="header">
    <span id="logo"> 
        <img src="/img/icons/logo.svg" alt="logo">
    </span>    
    <nav>
        <ul>
            <li><a href="#">sign in</a></li>
            <li><a href="#" class="sign-up">sign up</a></li>            
        </ul>
    </nav>
</header>