@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './components/colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-solitude);
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex_justify-center {
    justify-content: center;
}

.flex_align-center {
    align-items: center;
}

.mt_5 {
    margin-top: 5rem;
}