<section class="hero-section wrap">
    <h1>Turn the brightest moments of your life from the Instagram into photobook with PhotoMemory!</h1>
    <form class="search-form">
        <label for="profile">Type the name of an Instagram account</label>
        <input type="search" name="profile" id="profile">
    </form>
</section>

<section class="account-section wrap hidden">
    <h1>Account has been found!</h1>
    <div class="card">
        <div class="card-avatar">
            <img src="https://images.unsplash.com/photo-1593887509668-5900ae1fc76f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="" class="card__image">
            <p>@someone</p>
        </div>
        <div class="card-selection">
            <h4>Create a photobook from</h4>
            <a href ="#" class="card-selection-icon">
                <img src ="/img/icons/instagram.svg" >
                <p>Instagram</p>
            </a>
        </div>
        <small><a href="#header">Not a @someone?</a></small>
    </div>
</section>

<footer class="wrap hidden">

</footer>