<section class="hero-section wrap">
    <h1>Turn the brightest moments of your life from the Instagram into photobook with PhotoMemory!</h1>
    <form action="/:instagram-username" method="GET" class="search-form">
        <label for="profile">Type the name of an Instagram account</label>
        <input type="search" name="profile" id="profile">
    </form>
</section>

<section class="account-section">
    <h1>Account has been found!</h1>
    <div class="card">
        <img src="" alt="" class="card__image">
        <p></p>
        <div class="card-selection">
            <h4>Create a photobook from</h4>
            <div class="card-selection-icon">
                <img src="" alt="">
                <p>Instagram</p>
            </div>
            <small>Not a ?</small>
        </div>
    </div>
</section>