<section>
    <h1>Turn the brightest moments of your life from the Instagram into photobook with PhotoMemory!</h1>
    <form action="/:instagram-username" method="GET">
        <label for="profile">Type the name of an Instagram account</label>
        <input type="search" name="profile" id="profile">
    </form>
</section>

<section>
    <h1>Account has been found!</h1>
    <div>
        <img src="" alt="">
        <p></p>
        <div>
            <h4>Create a photobook from</h4>
            <div>
                <img src="" alt="">
                <p>Instagram</p>
                <small>Not a ?</small>
            </div>
        </div>
    </div>
</section>