:root {
  --color-purple: #788BFF;
  --color-section-bg: #F5F6F8;
  --color-nav-link: black;
  --color-card-link: #737372;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  padding: 0 5rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
header nav {
  font-family: "Nunito", sans-serif;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav li {
  margin-left: 5rem;
}
header nav a {
  color: var(--color-nav-link);
  font-weight: 300;
  font-size: 1.5625rem;
  text-decoration: none;
}
header nav a.sign-up {
  color: white;
  background: var(--color-purple);
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 0px 10px;
  border: none;
  border-radius: 0.625rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  color: white;
  background-color: var(--color-purple);
}
.hero-section h1 {
  font-size: 3.125rem;
  font-weight: bold;
}
.hero-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.875rem;
  margin-top: 2.5rem;
}
.hero-section form label {
  font-weight: 500;
}
.hero-section form input {
  margin-top: 2.5rem;
  min-width: 80vw;
  padding: 2.5rem;
  border-radius: 0.625rem;
  border: none;
  font-size: 1.875rem;
  font-weight: 400;
}

.account-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: var(--color-section-bg);
}
.account-section h1 {
  margin: 2.5rem 0;
  font-size: 3.125rem;
  font-weight: bold;
}
.account-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20vw;
  padding: 5rem;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.account-section .card .card-avatar .card__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: black;
}
.account-section .card .card-avatar p {
  margin-top: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 1.875rem;
}
.account-section .card .card-selection {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 40px auto;
  text-align: center;
}
.account-section .card .card-selection h4 {
  font-weight: 500;
  font-size: 1.875rem;
}
.account-section .card .card-selection .card-selection-icon {
  margin-top: 40px;
  padding: 1em 1em;
  border-radius: 0.625rem;
  transition: 0.5s ease-in-out;
}
.account-section .card .card-selection .card-selection-icon p {
  font-size: 1.5625rem;
}
.account-section .card .card-selection .card-selection-icon:hover {
  background-color: darkgray;
}
.account-section .card small {
  font-size: 1.25rem;
  color: var(--color-card-link);
}
.account-section .card small a {
  color: var(--color-card-link);
}

footer {
  margin-top: 2.5em;
  background-color: black;
  height: 18.75em;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
