:root {
  --color-blue-violet: #788BFF;
  --color-solitude: #F5F6F8;
  --color-tapa: #737372;
  --color-gray90: #E5E5E5;
  --color-gray77: #C4C4C4;
  --color-red: #F44336;
  --color-light-red: #F1DEDE;
  --color-green: #2BA62D;
  --color-light-green: #DEF1DE;
  --color-blue: #01B2FF;
  --color-light-blue: #D2F4FF;
  --color-yellow:#FFB302;
  --color-light-yellow: #FAECD3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap > * {
  padding: 0 5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-solitude);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background: white;
}
header nav {
  font-weight: 300;
  font-size: 1.5625rem;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav li {
  margin-left: 5rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  color: white;
  background-color: var(--color-blue-violet);
}
.hero-section h1 {
  font-size: 3.125rem;
  font-weight: bold;
}
.hero-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 1.875rem;
  margin-top: 2.5rem;
}
.hero-section form label {
  font-weight: 500;
}
.hero-section form input {
  margin-top: 2.5rem;
  padding: 2.5rem;
  border-radius: 0.625rem;
  border: none;
  font-size: 1.875rem;
  font-weight: 400;
}

.account-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 80px;
  background: var(--color-section-bg);
}
.account-section h1 {
  margin: 3.75rem 0;
  font-size: 3.57rem;
  font-weight: bold;
}
.account-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-section .card > *:not(:last-child) {
  margin-bottom: 40px;
}
.account-section .card .card-avatar .card__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: black;
}
.account-section .card .card-avatar p {
  margin-top: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 1.875rem;
}
.account-section .card .card-info {
  display: flex;
  text-align: center;
}
.account-section .card .card-info div:not(:last-child) {
  margin-right: 40px;
}
.account-section .card .card-info .card-info-heading {
  color: var(--color-blue-violet);
  font-weight: bold;
  font-size: 1.5625rem;
  margin-bottom: 10px;
}
.account-section .card .card-info .card-info-caption {
  color: var(--color-gray77);
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.account-section .card small {
  font-size: 1.25rem;
}

.card h1 {
  text-align: center;
  font-weight: bold;
}
.card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card form .input-container {
  display: grid;
  grid-gap: 40px;
  gap: 40px;
  width: 100%;
  margin: 5em 0;
}
.card form .input-container-horizontal {
  grid-template-columns: repeat(2, 1fr);
}
.card form .input-container-vertical {
  grid-template-rows: repeat(2, 1fr);
}
.card form .row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card form label {
  font-weight: 500;
  font-size: 1.25rem;
}
.card form input {
  margin-top: 20px;
  padding: 1em 1.25em;
  border: none;
  border-radius: 10px;
  background: var(--color-gray90);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
.card form input::placeholder {
  color: var(--color-tapa);
}

aside {
  font-size: 1.25rem;
}
aside ul {
  margin-top: 1.25rem;
}
aside li {
  list-style-type: none;
  padding: 0.625rem 2.5rem;
}

table {
  margin-top: 60px;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
  font-size: 1.25rem;
  text-align: left;
}
table thead {
  border-radius: 50%;
  background: var(--color-gray90);
}
table th {
  font-weight: 500;
  color: var(--color-tapa);
}
table th, table td {
  padding: 1rem;
}
table tbody tr:nth-child(even) {
  background: var(--color-solitude);
}
table tbody tr:last-of-type {
  border-bottom: 4px solid var(--color-gray90);
}

.badge-container {
  display: flex;
  padding: 0.7rem;
  border-radius: 100px;
}

.badge-container-fullfilled {
  background: var(--color-light-green);
}

.badge-container-cancelled {
  background: var(--color-light-red);
}

.badge-container-confirmed {
  background: var(--color-light-blue);
}

.badge-container-shipped {
  background: var(--color-light-yellow);
}

.badge {
  content: " ";
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.badge-fullfilled {
  background: var(--color-green);
}

.badge-cancelled {
  background: var(--color-red);
}

.badge-confirmed {
  background: var(--color-blue);
}

.badge-shipped {
  background: var(--color-yellow);
}

.badge-label {
  font-weight: 500;
  margin-left: 10px;
}

.badge-label-fullfilled {
  color: var(--color-green);
}

.badge-label-cancelled {
  color: var(--color-red);
}

.badge-label-confirmed {
  color: var(--color-blue);
}

.badge-label-shipped {
  color: var(--color-yellow);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  min-height: 9.2678405931vh;
  font-weight: 500;
  font-size: 1.25rem;
}
footer ul li {
  display: inline;
}
footer ul li:not(:last-child) {
  margin-right: 5rem;
}

.btn {
  color: white;
  background: var(--color-blue-violet);
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.btn-sm {
  padding: 0.5em 1.5em;
  font-size: 1.5625rem;
  font-weight: 300;
}

.btn-lg {
  padding: 1em 2em;
  font-size: 1.5625rem;
  font-weight: 500;
}

.card-container {
  margin: 60px auto;
}

.card-container-h {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.card {
  padding: 5rem;
  border-radius: 10px;
  background: white;
}

.card-sm {
  padding: 0;
  width: 15.625vw;
  height: 37vh;
}

.card-md {
  min-width: 20vw;
}

.card-lg {
  min-width: 53vw;
}

.card-xl {
  width: 100%;
}

.link, .link:visited {
  text-decoration: none;
}

.link:active, .link:hover {
  color: var(--color-blue-violet);
}

.link-gray {
  color: var(--color-tapa);
}

.link-black {
  color: black;
}

.link-active {
  background: var(--color-gray90);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
