@import '../components/colors.css';

.section-heading {
    margin: 3.75rem 0;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 1.5;
    text-align: center;
}

.hero {
    min-height: 90vh;
    color: white;
    background: var(--color-blue-violet);
}

.account {
    margin-bottom: 3.7rem;
    scroll-margin-top: 5rem;      
}

.search-form {
    align-self: stretch;
}

.search-form__input-badge {
    position: relative;
    left: 2.8125rem;
    bottom: 5rem;
    font-size: 1.875rem;
    font-weight: 300;
    color: black;
}