.btn {
    color: white;
    background: var(--color-blue-violet);
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.btn-sm {
    padding: 0.5em 1.5em;
    font-size: 1.5625rem;
    font-weight: 300;
}

.btn-lg {
    padding: 1em 2em;
    font-size: 1.5625rem;
    font-weight: 500;
}

.card-container {
    margin: 60px auto;
}

.card {
    padding: 5rem;
    border-radius: 10px;
    background: white;
}

.card-md {
    min-width: 20vw;
}

.card-lg {
    min-width: 53vw;
}

.link, .link:visited {
    text-decoration: none;
}

.link:active, .link:hover {
    color: var(--color-blue-violet);
}

.link-gray {
    color: var(--color-tapa);
}

.link-black {
    color: black;
}