<div class="card-container card-container-h">
    <div class="card card-xl">
        <h1>Orders</h1>
        <table>
            <thead>
                <tr>
                    <th>Order number</th>
                    <th>Type</th>
                    <th>Username</th>
                    <th>Shipment info</th>
                    <th>Track number</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>121238129371</td> 
                    <td>album</td>
                    <td>epicaofficial</td>
                    <td>10xxxx, Russia, Moscow, st. John Doe, 123</td>
                    <td>CA123456789RU</td>
                    <td>
                        <div class="badge-container badge-container-fullfilled">
                            <span class="badge badge-fullfilled"></span>
                            <span class="badge-label badge-label-fullfilled">FULLFILLED</span>
                        </div>
                    </td>
                    <td>$120</td>
                </tr>
                <tr>
                    <td>121238129371</td> 
                    <td>album</td>
                    <td>epicaofficial</td>
                    <td>10xxxx, Russia, Moscow, st. John Doe, 123</td>
                    <td>CA123456789RU</td>
                    <td>
                        <div class="badge-container badge-container-cancelled">
                            <span class="badge badge-cancelled"></span>
                            <span class="badge-label badge-label-cancelled">CANCELLED</span>
                        </div>
                    </td>
                    <td>$120</td>
                </tr>
                <tr>
                    <td>121238129371</td> 
                    <td>album</td>
                    <td>epicaofficial</td>
                    <td>10xxxx, Russia, Moscow, st. John Doe, 123</td>
                    <td>CA123456789RU</td>
                    <td>
                        <div class="badge-container badge-container-confirmed">
                            <span class="badge badge-confirmed"></span>
                            <span class="badge-label badge-label-confirmed">CONFIRMED</span>
                        </div>
                    </td>
                    <td>$120</td>
                </tr>                
                <tr>
                    <td>121238129371</td> 
                    <td>album</td>
                    <td>epicaofficial</td>
                    <td>10xxxx, Russia, Moscow, st. John Doe, 123</td>
                    <td>CA123456789RU</td>
                    <td>
                        <div class="badge-container badge-container-shipped">
                            <span class="badge badge-shipped"></span>
                            <span class="badge-label badge-label-shipped">SHIPPED</span>
                        </div>
                    </td>
                    <td>$120</td>
                </tr>
            </tbody>
        </table>
    </div>
    <aside class="card card-sm">
        <nav>
            <ul>
                <li><a href="/user/profile-info" class="link link-black">Profile info</a></li>
                <li class="link-active"><a href="/user/orders" class="link link-black">Orders</a></li>
            </ul>
        </nav>
    </aside>
</div>