footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    min-height: 10vh;
    font-weight: 500;
    font-size: 1.25rem;
}

/* li {
    display: inline;
}

li:not(:last-child) {
    margin-right: 5rem;
} */