@import './colors.css';

.input {
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.input::placeholder, 
.input::-moz-placeholder,
.input::-webkit-input-placeholder {
    color: black;
}

.input:focus {
    outline: none;
}

.input_search-form {
    position: relative;
    margin-top: 2.5rem;
    padding: 2.5rem 5rem;
    width: 100%;
    font-size: 1.875rem;
}

.input_form {
    margin-top: 20px;
    padding: 1em 1.25em;
    background-color: var(--color-gray90);
    font-size: 1.25rem;
}

.input_form:focus {
    border: 1px solid var(--color-gray77);
}